@import "tailwindcss";


@layer base{
  @font-face {
    font-family: DotGothic16;
    src: url(../fonts/DotGothic16-Regular.ttf);
  }
}

@theme {
  --color-background-home: #FFFF77;
  --font-dotgothic: "DotGothic16"
}

